.hero-section {
    background: url(../assets/Hero.jpg) no-repeat center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    color: white;
    background-Color: #c5cae9 !important;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  